:root {
	--brand-lava-1: #316251;
	--brand-lava-2: #454c79;
	--brand-lava-3: #743179;
	--brand-lava-highlight: #68a491;
	--brand-lava-cursor-light: #454c79;
}

.dark {
	--brand-lava-1: #00644f;
	--brand-lava-2: #aebaf3;
	--brand-lava-3: #8c4df6;
	--brand-lava-highlight: #68a491;
	--brand-lava-cursor-light: #aebaf3;
}
